@media screen and (-ms-view-state: fullscreen-landscape) {
    p {
        margin-left: 120px;
    }

    #tiph1 {
        color: #ff6a00;
        font-size: xx-large;
        font-weight: 600;
        margin-top: 30px;
        margin-left: 40px;
    }

    #tiph2 {
        font-size: large;
        margin-left: 130px;
        font-weight: 400;
    }

    #inputtip {
        margin-left: 120px;
        float: left;
    }

    #inputboxtip {
        text-align: center;
        background-color: rgba(202, 202, 202, 0.4);
        border-color: rgba(202, 202, 202, 0.4);
        width: 150px;
    }

    #outputboxtip {
        text-align: center;
        border-color: #fff;
        font-weight:600;
        font-size:x-large;
        width:250px;
    }

    #buttontipdiv {
        margin-top: 20px;
        margin-left: 260px;
    }

    #buttontip {
        font-size: x-large;
        color: #fff;
        background-color: #ff6a00;
        border-color: #ff6a00;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #ltip {
        display: inline-block;
        width: 170px;
        margin-left:100px;
    }

    #ltip2 {
        font-weight: 600;
        font-size: x-large;
        margin-left: 55px;
    }
    input[type=tel] {
        font: 15px;
        width: auto;
        height: auto;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }

        input[type=text]:disabled, input[type=file]::-ms-value,
        textarea:disabled, .win-textarea:disabled, select:disabled,
        input:disabled::-ms-check, input:disabled:active::-ms-check {
            background-color: #fff;
            border-color: rgba(0, 0, 0, 0.27);
            color: #000;
        }
}

@media screen and (-ms-view-state: filled) {
    p {
        margin-left: 120px;
    }

    #tiph1 {
        color: #ff6a00;
        font-size: xx-large;
        font-weight: 600;
        margin-top: 30px;
        margin-left: 40px;
    }

    #tiph2 {
        font-size: large;
        margin-left: 130px;
        font-weight: 400;
    }
    #inputtip {
        margin-left: 120px;
        float: left;
    }

    #inputboxtip {
        text-align: center;
        background-color: rgba(202, 202, 202, 0.4);
        border-color: rgba(202, 202, 202, 0.4);
        width: 150px;
    }

    #outputboxtip {
        text-align: center;
        border-color: #fff;
        font-weight:600;
        font-size:x-large;
        width:250px;
    }

    #buttontipdiv {
        margin-top: 20px;
        margin-left: 260px;
    }

    #buttontip {
        font-size: x-large;
        color: #fff;
        background-color: #ff6a00;
        border-color: #ff6a00;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #ltip {
        display: inline-block;
        width: 170px;
        margin-left:100px;
    }

    #ltip2 {
        font-weight: 600;
        font-size: x-large;
        margin-left: 55px;
    }
    input[type=tel] {
        font: 15px;
        width: auto;
        height: auto;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }

        input[type=text]:disabled, input[type=file]::-ms-value,
        textarea:disabled, .win-textarea:disabled, select:disabled,
        input:disabled::-ms-check, input:disabled:active::-ms-check {
            background-color: #fff;
            border-color: rgba(0, 0, 0, 0.27);
            color: #000;
        }
}

@media screen and (-ms-view-state: snapped) {
    /*p {
        margin: .2em 0 .2em 0;
    }*/

    #tiph1 {
        color: #ff6a00;
        font-size: x-large;
        font-weight: 600;
        margin-top: 15px;
        margin-left: 50px;
        text-align: left;
    }

    #tiph2 {
        font-size: large;
        font-weight:400;
        margin-top:20px;
    }

    #inputtip {
        margin-left: 25px;
        float: left;
    }

    #inputboxtip {
        text-align: center;
        background-color: rgba(202, 202, 202, 0.4);
        border-color: rgba(202, 202, 202, 0.4);
        width: 130px;
    }

    #outputboxtip {
        text-align: center;
        border-color: #fff;
        font-weight:600;
        font-size: x-large;
        width:160px;
    }

    #buttontipdiv {
        margin-left: 10px;
    }

    #buttontip {
        font-size: x-large;
        color: #fff;
        background-color: #ff6a00;
        border-color: #ff6a00;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #ltip {
        display: inline-block;
        width: 120px;
    }

    #ltip2 {
        display: inline-block;
        width: 105px;
        font-size: medium;
    }

    input[type=tel] {
        font: 15px;
        width: auto;
        height: auto;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }

    input[type=text]:disabled, input[type=file]::-ms-value,
    textarea:disabled, .win-textarea:disabled, select:disabled,
    input:disabled::-ms-check, input:disabled:active::-ms-check {
        background-color: #fff;
        border-color: rgba(0, 0, 0, 0.27);
        color: #000;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    p {
        margin-left: 20px;
    }

    #tiph1 {
        color: #ff6a00;
        font-size: xx-large;
        font-weight: 600;
        margin-top: 30px;
        margin-left: 40px;
    }

    #tiph2 {
        font-size: large;
        font-weight:400;
        margin-left: 20px;
    }

    #inputtip {
        margin-left: 120px;
        float: left;
    }

    #inputboxtip {
        text-align: center;
        background-color: rgba(202, 202, 202, 0.4);
        border-color: rgba(202, 202, 202, 0.4);
        width: 150px;
    }

    #outputboxtip {
        text-align: center;
        border-color: #fff;
        font-weight:600;
        font-size:x-large;
        width:235px;
    }

    #buttontipdiv {
        margin-top: 20px;
        margin-left: 260px;
    }

    #buttontip {
        font-size: x-large;
        color: #fff;
        background-color: #ff6a00;
        border-color: #ff6a00;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #ltip {
        display: inline-block;
        width: 170px;
        margin-left:100px;
    }

    #ltip2 {
        font-weight: 600;
        font-size: x-large;
        margin-left:70px;
    }

    input[type=tel] {
        font: 15px;
        width: auto;
        height: auto;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }

        input[type=text]:disabled, input[type=file]::-ms-value,
        textarea:disabled, .win-textarea:disabled, select:disabled,
        input:disabled::-ms-check, input:disabled:active::-ms-check {
            background-color: #fff;
            border-color: rgba(0, 0, 0, 0.27);
            color: #000;
        }
}
